body{
    margin: 0;
    padding: 0;
    background: #ecf0f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;

    header{
        h1{
            letter-spacing: 10px;
            // font-family: 'Itim', cursive;
        }
    }

    main{
        width: 400px;
        padding: 1rem;
        box-shadow: 13px 13px 20px #cbced1,
                    -13px -13px 20px #fff;
        margin: 20px;     
        border-radius: 2rem;
        #todo-input-section{
            display: flex;
            justify-content: center;
            padding: 2rem;
            input, button{
                border: none;
                outline: none;
                margin: 0.5rem;
            }
            // input:hover, button:hover{
            //     transform: scale(0.95);
            // }
            input{
                background: none;
                font-size: 18px;
                color: #555;
                font-weight: 100;
                border-radius: 1rem;
                padding: 0.5em 1em;
                box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
            }
            input::placeholder{
                color: #555;
                opacity: 1;
                font-size: 0.9em;
            }
            button{
                border-radius: 50%;
                box-shadow: 4px 4px 4px #cbced1, -4px -4px 12px #ffffff;
                padding: 0.5rem;
                width: 40px;
                cursor: pointer;
                transition: all 250ms;
            }
            button:hover{
                transform: scale(0.8);
            }
        }
        .todo-controls{
            display: flex;
            justify-content: space-between;
            font-size: 0.8rem;
            p{
                padding: 0.5rem;
                margin: 0;
                border-radius: 14px;
                transition: all 500ms;
                cursor: pointer;
            }
            #tasks-left{
                margin-right: 9em;
            }
        }
        .todo-controls>p:hover{
            box-shadow: 4px 4px 4px #cbced1, -4px -4px 12px #ffffff;
        }
        /*todo-task-section*/
        #todo-list{
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            .todo{
                display: grid;
                height: 2rem;
                grid-template-columns: 1fr 8fr 1fr;
                align-items: center;
                padding: 0.5rem;
                box-shadow: 8px 8px 8px #cbced1;
                margin: 0.15rem;
                border-radius: 10px;
                transition: all 250ms linear;
                .todo-checkbox{
                    margin: auto;
                }
                .todo-task{
                    font-size: 1.1rem;
                }
                .todo-delete-button{
                    border: none;
                    font-size: 1em;
                    background: transparent;
                    cursor: pointer;
                    width: 100%;
                }
                .selected{
                    text-decoration: line-through;
                }
            }
            .todo:hover{
                background-color: skyblue;
                box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px #ffffff;
            }
            .fall{
                transform: translateY(6rem) rotateZ(10deg);
            }
        }
        
    }
}